{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "es5",
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss"]
}
